@model IEnumerable<BTLNHOM14.Models.User>

@{
    ViewData["Title"] = "User";
}


<div id="form-sb1">
<h1>User</h1>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.Age)
            </th><th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                        <a asp-action="Create" class="btn btn-sm btn-success" style="width:92px !important">
                            <i class="fa-solid fa-plus"></i>
                            New
                        </a>
                    </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.Age)
            </td><td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td><td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
             <form asp-action="Delete" asp-route-id="@item.UserID">
                            <div class="btn-group btn-group-sm">
                                <a asp-action="Create" asp-route-id="@item.UserID" class="btn btn-warning">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.UserID" class="btn btn-info">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure? ,you want to delete the selected record')">
                                    <i class="far fa-trash"> </i>
                                </button>
                            </div>


                        </form>
                        </td>
        </tr>
}
    </tbody>
</table>
</div>